.characterImages {
	height: 150px;
}
.characterCards {
	cursor: pointer;
	width: 140px;
	display: flex;
	flex-direction: row;
}
.characterCards:hover {
	opacity: .5;
}
.characterCards:active {
	opacity: 0;
}